<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="img/back.png" alt="">
            <img class="uid" src="img/userid.png" alt="">
        </div>
        <div class="main">
            <form action="" class="search-bar">
                <button type="submit"><img class="searchimg" src="img/search.png" alt=""></button>
                <input type="text" placeholder="search location" name="search">
            </form>
            <div class="map">
                <img src="img/email.png" alt="">
            </div>
            <div class="confirm">Confirm your location</div>
        </div>
    </div>
</body>
</html>